.logo {
  display: inline-block;
  width: 115px;
  height: 50px;
  text-align: center;

  &__header-img {
    max-width: 115px;
    max-height: 50px;
  }

  &__quality-img {
    display: inline-block;
    max-width: 55px;
    max-height: 50px;
  }

  &--main {
    margin: 25px 38px 22px 45px;
  }

  &--contacts {
    width: 52px;
    height: 38px;
    margin-right: 35px;
  }

  &__contacts-img {
    display: inline-block;
    max-width: 52px;
    max-height: 38px;
  }

  &--quality {
    width: 82px;
    vertical-align: top;
  }
}
