.tab {
  display: inline-block;
  width: 100%;

  &__list {
    padding: 0;
    margin: 0 0 60px;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
  }

  &__item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #991a15;
    padding: 50px 40px;
    text-transform: uppercase;
  }

  &__quality {
    display: inline-block;
  }

  &__group {
    margin-bottom: 36px;

    &--quality {
      display: flex;
      align-items: center;
      margin-bottom: 45px;
    }

    &--mg {
      margin-bottom: 80px;
    }
  }

  &__content {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
  }

  &__content-box {
    position: relative;
    height: 870px;
  }

  &__text {
    font-family: "Robotoreg", sans-serif;
    display: block;
    max-width: 420px;
    font-size: 16px;
    line-height: 22px;
    color: #4b4b4b;
  }

  &__text-w {
    font-family: "Robotomed", sans-serif;
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 24px;
  }

  &__link {
    text-decoration: none;
    color: #96171a;
  }

  &__slide-elem {
    position: absolute;
    width: 15%;
    height: 2px;
    background-color: red;
    bottom: -1px;
    left: 0;
    transition: left 0.5s, width 0.5s;
  }
}

.active-tab {
  z-index: 2;
}
