mixin tab()
  .tab
    ul.tab__list
      .container.container--tab
        li.tab__item(data-index='1') Общестроительные цементы
        li.tab__item(data-index='2') Специальные цементы
        li.tab__item(data-index='3') Бетоны
        li.tab__item(data-index='4') Хризоцилцементные изделия
        .tab__slide-elem
    .container
      .tab__content-box
        .tab__content.active-tab
        .tab__content
          +select('Территория Европейской части России','Территория Европейской части России 1','Территория Европейской части России 2').select--tab
          .tab__group
            p.tab__text-w Сычёв Сергей Юрьевич
            span.tab__text Заместитель директора по региональным продажам Западный регион
          .tab__group
            p.tab__text-w ТЕЛЕФОН / ФАКС
            span.tab__text +7 (495) 287-03-10 / +7 (495) 287-03-10 (доб. 250)
          .tab__group.tab__group--mg
            p.tab__text-w E-MAIL
            a.tab__link(href='#') msk@sibcem.ru 
          .tab__group.tab__group--quality
            .svg-box.svg-box--quality
              svg.svg--quality
                use(xlink:href=require('../assets/svg/quality.svg').url)
            .tab__quality
              +h2('Качество продукции','h2--quality')
              +h4('Отдел контроля качества продукции','h4--quality')
          .tab__group
            p.tab__text-w Володина Татьяна Анатольевна
            span.tab__text Директор по качеству
          .tab__group
            p.tab__text-w Телефоны
            span.tab__text раб. +7 (800) 700-89-90, вн. 702 120
            span.tab__text моб. +7 (923) 603-22-24
          .tab__group
            p.tab__text-w E-MAIL
            a.tab__link(href='#') volodina@sibcem.ru
        .tab__content
        .tab__content
