.contact-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 32px;

  &__namebox {
    display: inline-block;
    vertical-align: top;
    width: 345px;
  }

  &__name {
    font-family: "Robotomed", sans-serif;
    margin: 0;
    line-height: 24px;
    padding-bottom: 14px;
    letter-spacing: 0.1px;
  }

  &__position {
    margin: 0;
    font-size: 16px;
    color: #5c5c5c;
    letter-spacing: 0.5px;
  }

  &__heading {
    font-family: "Robotomed", sans-serif;
    font-size: 14px;
    margin: 7px 0;
  }

  &__phonebox {
    display: inline-block;
    vertical-align: top;
  }

  &__emailbox {
    display: inline-block;
    width: 220px;
    vertical-align: top;
  }

  &__phone-w {
    font-family: "Robotoreg", sans-serif;
    color: #4b4b4b;
    line-height: 30px;
    margin: 0;
  }

  &__phone-m {
    font-family: "Robotoreg", sans-serif;
    color: #4b4b4b;
    line-height: 30px;
    margin: 0;
  }

  &__email {
    color: #96171a;
    margin: 0;
    text-decoration: none;
  }
}
