mixin contact-item(name,position,phone_w,phone_m,email)
  .contact-item
    .contact-item__namebox
      p.contact-item__name #{name}
      p.contact-item__position #{position}
    .contact-item__phonebox
      p.contact-item__heading ТЕЛЕФОНЫ
      p.contact-item__phone-w раб. #{phone_w},(приёмная)
      p.contact-item__phone-m моб. #{phone_m}
    .contact-item__emailbox
      p.contact-item__heading E-MAIL
      a.contact-item__email(href='#') #{email}
