//временное решение
body {
  max-width: 1500px;
  margin: 0 auto;
  font-family: sans-serif;
}
//временное решение
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9eaed;
  margin-bottom: 30px;
}
