.select {
  display: inline-block;
  border: 1px solid #e9eaed;
  font-size: 15px;
  outline: none;
  font-family: "Robotoreg", sans-serif;

  &--sites {
    margin-right: 75px;
    color: #96171a;
  }

  &--tab {
    width: 480px;
    margin-bottom: 40px;
    letter-spacing: 0.8px;
  }
}

.js-custom-select {
  display: none;
}

.select-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 1px solid #96171a;
    border-right: 1px solid #96171a;
    transform: rotate(135deg);
    right: 19px;
    top: calc(50% - 5px);
  }
}

.select__btn {
  font-family: "Robotoreg", sans-serif;
  font-size: 15px;
  width: 100%;
  padding: 12px 32px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: left;
  color: #96171a;
  margin-right: 15px;
}

.select__list {
  display: none;
  width: 100%;
  position: absolute;
  list-style: none;
  outline: 1px solid #e9eaed;
  background-color: #fff;
  padding: 0;
  margin: 0;
  top: 102%;
  left: 0;
}

.select__item {
  padding: 10px 25px;
  cursor: pointer;

  &:hover {
    background-color: #e9eaed;
  }
}

.js-select {
  display: none;
}

.opened {
  display: block;
}

.closed {
  display: none;
}
