include ../blocks/**/*.pug
doctype html
html(lang='en')
  head
    title Jade
  body
    +header()
      +logo('https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350','logo__header-img').logo--main
      +menu()
      +phone('8 800 700-89-89','Звонок по России бесплатно').phone--header
    block content
    .sales
      .sales__search-box
        +form().form--search
        +select('Сайты группы компаний','Сайты группы компаний','Сайты группы компаний2','Сайты группы компаний3').select--sites
      .container
        +h1('Сбыт','h1--sales')
        +h2('Отдел продаж','h2--sales-dep')
        +text('Для удобства наших клиентов реализация продукции со всех цементных активов осуществляется централизованно компанией ООО «ЗапСибЦемент» (г.Кемерово) АО «ХК «Сибцем» является управляющей компанией ряда организаций-производителей цемента.')
    .contacts
      .container
        .contacts__heading
          .svg-box.svg-box--mail
            svg.svg--mail
              use(xlink:href=require('../assets/svg/mail.svg').url)
          +h3('Контакты ответственных лиц','h3__contacts')
        .contacts__list
          +contact-item('Леготин Александр Анатальевич','Управляющий директор','+7 (3842) 49-03-90','+7 (3842) 49-03-90','a.legotin@sibcem.ru')
          +contact-item('Григорьев Илья Валерьевич','Заместитель управляющего директора ','+7 (3842) 49-03-90','+7 (923) 489-14-77','i.grigorev@sibcem.ru')
          +contact-item('Воробьёв Юрий Сергеевич','Директор по региональным продажам','+7 (3842) 49-03-90','+7 (923) 495-40-10','y.vorobiev@sibcem.ru')
    .product-sales
      .container
        +h2('Продажа продукции','h2--sales-prod')
      +tab()
    +footer()
