.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;

    &--footer {
      display: block;
      vertical-align: top;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    font-family: "Robotoreg", sans-serif;
    color: #969fa9;
    font-size: 15px;
    padding: 15px;
    letter-spacing: 0.9px;

    &--footer {
      padding: 13px 16px 9px 0;
    }
  }
}
