mixin menu()
  ul.menu
    li.menu__item
      a.menu__link(href='#') О компании
    li.menu__item 
      a.menu__link(href='#') Продукция
    li.menu__item 
      a.menu__link(href='#') Инвесторам
    li.menu__item
      a.menu__link(href='#') Закупки
    li.menu__item
      a.menu__link(href='#') Сбыт
    li.menu__item
      a.menu__link(href='#') Пресс-центр
    li.menu__item
      a.menu__link(href='#') Контакты
