.h2 {
  font-family: "Robotoreg", sans-serif;
  font-size: 36px;
  margin: 0;
  letter-spacing: 0;

  &--sales-dep {
    margin-bottom: 30px;
  }

  &--quality {
    font-size: 34px;
    margin-bottom: 10px;
  }

  &--sales-prod {
    font-size: 34px;
    margin-bottom: 12px;
    font-weight: normal;
  }
}
