.svg-box {
  display: inline-block;

  &--quality {
    margin-right: 30px;
  }

  &--mail {
    margin-right: 35px;
  }

  &--search {
    position: absolute;
    z-index: -1;
  }
}

.svg {
  &--mail {
    max-width: 52px;
    max-height: 38px;
    fill: #97191c;
  }

  &--quality {
    max-width: 53px;
    max-height: 50px;
    fill: #97191c;
  }

  &--search {
    max-width: 20px;
    max-height: 21px;
    fill: #8f98a3;
    margin-left: 2px;
  }
}
