.phone {
  display: inline-block;
  max-width: 210px;
  font-size: 28px;
  margin-left: auto;

  &__num {
    margin: 0;
    color: #97191c;
    font-weight: bold;
    font-family: "Robotomed", sans-serif;
  }

  &__text {
    margin: 0;
    font-family: "Robotoreg", sans-serif;
    font-size: 14px;
    text-align: center;
  }

  &--header {
    margin-right: 73px;
  }

  &--footer {
    margin-left: -60px;

    .phone__num {
      font-family: "Robotomed", sans-serif;
      font-size: 26px;
      color: #fff;
      font-weight: normal;
    }

    .phone__text {
      color: #fff;
    }
  }
}
