mixin form()
  form.form(action='/', method='POST')(class!=attributes.class)
    .form__group
      .form__item-box
        .svg-box.svg-box--search
          svg.svg--search
            use(xlink:href=require('../assets/svg/search.svg').url)
        input.form__item.form__item--btn(type='button', name='button')
        input.form__item.form__item--search(type='search', placeholder='Поиск по сайту', name='search')
