.form {
  display: inline-block;

  &--search {
    margin-left: 155px;
  }

  &__item {
    &--search {
      font-size: 16px;
      letter-spacing: 0.6px;
      border: 0;
      outline: none;
    }

    &--btn {
      width: 20px;
      height: 20px;
      margin-right: 18px;
      padding: 0;
      border: 0;
      outline: none;
      cursor: pointer;
      background-color: transparent;
    }
  }

  &__item-box {
    display: flex;
    align-items: center;
  }
}
