.footer {
  background-color: #272727;

  &__menu {
    padding-top: 78px;
  }

  &__menu-item {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__copyright {
    margin-top: 55px;
    padding: 30px 0;
    background-color: #1c1c1c;
  }

  &__cr-text {
    font-family: "Robotoreg", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #494949;
  }

  &__develop {
    font-family: "Robotoreg", sans-serif;
    color: #636363;
  }

  &__develop-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-left: 4px;
  }
}
