mixin footer()
  footer.footer
    .footer__menu
      .container
        .footer__menu-item
          +h4('О компании','h4--footer')
          ul.menu
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Организации
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Руководство компании
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Вакансии
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Экологическая безопасность
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Корпоративная ответсвенность
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Социальная отчётность
        .footer__menu-item
          +h4('Пресс-центр','h4--footer')
          ul.menu
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Новости
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') СМИ о нас
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Для прессы
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Корпоративная газета
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Фотогаллерея
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Видеоматериал
        .footer__menu-item
          +h4('Услуги и продукция','h4--footer')
          ul.menu
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Цемент
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Бетон
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Хризотилцементные изделия
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Услуги
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Качество
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Отзывы
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Борьба с контрофактом
        .footer__menu-item
          +h4('Инвесторам','h4--footer')
          ul.menu
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Собрание акционеров
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Корпоративные споры
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Раскрытие информации
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Предоставление информации
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Извещение о сделках
            li.menu__item.menu__item--footer
              a.menu__link.menu__link--footer(href='#') Документы
      .footer__copyright
        .container.container--flex
          span.footer__cr-text 2004-2017 ОАО "Холдинговая компания"Симбирский цемент"
          +phone('8 000 700-89-89','Звонок по России бесплатно').phone--footer
          span.footer__develop Разработано в
            a.footer__develop-link(href='#') idem.agency
