.h4 {
  font-size: 15px;
  margin: 0;

  &--footer {
    font-family: "Robotomed", sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #5b6065;
    letter-spacing: 0.4px;
    color: #fff;
    margin-bottom: 10px;
  }

  &--quality {
    font-size: 18px;
    line-height: 18px;
  }
}
